test/northwind/content/schema0/table4/table4.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.admin.ch/xmlns/siard/1.0/schema0/table4.xsd" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.admin.ch/xmlns/siard/1.0/schema0/table4.xsd">
  <xs:element name="table">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="row" type="rowType">
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="rowType">
    <xs:sequence>
      <xs:element name="c1" type="xs:integer"/>
      <xs:element name="c2" type="xs:string"/>
      <xs:element name="c3" type="xs:string"/>
      <xs:element minOccurs="0" name="c4" type="xs:string"/>
      <xs:element minOccurs="0" name="c5" type="xs:string"/>
      <xs:element minOccurs="0" name="c6" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="c7" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="c8" type="xs:string"/>
      <xs:element minOccurs="0" name="c9" type="xs:string"/>
      <xs:element minOccurs="0" name="c10" type="xs:string"/>
      <xs:element minOccurs="0" name="c11" type="xs:string"/>
      <xs:element minOccurs="0" name="c12" type="xs:string"/>
      <xs:element minOccurs="0" name="c13" type="xs:string"/>
      <xs:element minOccurs="0" name="c14" type="xs:string"/>
      <xs:element minOccurs="0" name="c15" type="blobType"/>
      <xs:element minOccurs="0" name="c16" type="clobType"/>
      <xs:element minOccurs="0" name="c17" type="xs:integer"/>
      <xs:element minOccurs="0" name="c18" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="clobType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="file" type="xs:string"/>
        <xs:attribute name="length" type="xs:integer"/>
	    <xs:attribute name="messageDigest" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="blobType">
    <xs:simpleContent>
      <xs:extension base="xs:hexBinary">
        <xs:attribute name="file" type="xs:string"/>
        <xs:attribute name="length" type="xs:integer"/>
	    <xs:attribute name="messageDigest" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
