test/northwind/content/schema0/table1/table1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.admin.ch/xmlns/siard/1.0/schema0/table1.xsd" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.admin.ch/xmlns/siard/1.0/schema0/table1.xsd">
  <xs:element name="table">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="row" type="rowType">
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="rowType">
    <xs:sequence>
      <xs:element name="c1" type="xs:integer"/>
      <xs:element name="c2" type="xs:string"/>
      <xs:element minOccurs="0" name="c3" type="xs:integer"/>
      <xs:element minOccurs="0" name="c4" type="xs:integer"/>
      <xs:element minOccurs="0" name="c5" type="xs:string"/>
      <xs:element minOccurs="0" name="c6" type="xs:decimal"/>
      <xs:element minOccurs="0" name="c7" type="xs:integer"/>
      <xs:element minOccurs="0" name="c8" type="xs:integer"/>
      <xs:element minOccurs="0" name="c9" type="xs:integer"/>
      <xs:element name="c10" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
